<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/links_styles') %>
    <title>Comentarios</title>
    
</head>
<body>
    
    <div class="overlay inactive">
        <div>
            <h2>Ingresa la contrase単a del usuario root, por favor...</h2>
            <input class="form-control" type="text">
            <button class="btn btn-primary">Aceptar</button>
        </div>
    </div>
    <section class="estilos-body-coments">
        <nav class="bg-dark wv-100 d-flex align-items-center justify-content-around" style="height: 70px;">
            <div>
              <a style="display: flex;" href="/"><h2><b>Publicaciones &nbsp;</b></h2> <h2><b class="text-success"> Node JS</b></h2></a>
            </div>
            <div class="d-flex gap-5">
              <a class="btn-nav" style="padding: 3px 10px;" href="/"><i class="bi bi-house-door-fill"></i>Home</a>
              <a class="btn-nav" href="/create"><i class="bi bi-upload"></i>Publicar</a>
            </div>
        </nav>  
        <h1>Publicaciones Recientes</h1>
        <div class="contenedor-botones">
            <button class="btn btn-primary" name="pagina_anterior" id="btnAnterior"><i class="bi bi-skip-backward-btn-fill"></i> Anterior</button>
            <div id="numero_pagina"> 1</div>
            <button class="btn btn-success" name="pagina_siguiente" id="btnSiguiente">Siguiente<i class="bi bi-skip-forward-btn-fill" style="margin-left: 4px;"></i></button>
        </div>
        <div class="contenedor-comentarios" id="contenedor-comentarios">
            <% publicaciones.forEach(publicacion => { %>
                <div class="comentario">
                    <img src="/img/imagen-mensaje.png" alt="Imagen_mensaje">
                    <ul class="flex-fill">
                        <li><b>Nombre: </b><%= publicacion.nombre %></li>
                        <li><b>Apellido: </b><%= publicacion.apellido %></li>
                        <li><b>Edad: </b><%= publicacion.edad %></li>
                        <li><b>Comentario: </b><%= publicacion.comentario%></li>
                    </ul>
                    <div class="d-flex flex-column">
                        <a class="btn btn-info" href="/update/<%= publicacion.id%>"><i class="bi bi-pencil-square" style="color: black;"></i></a>
                        <a class="btn btn-danger" href="/delete/<%= publicacion.id%>"><i class="bi bi-trash" style="color: black;"></i></a>
                    </div>
                </div>
            <%}); %>
        </div>
    </section>
    <%- include('partials/footer') %>
    <script>
        
        let numero_pagina = 1;
        
        $contenedorComentarios = document.getElementById("contenedor-comentarios");
        
        document.getElementById('numero_pagina').textContent = numero_pagina;
        
        document.getElementById("btnSiguiente").addEventListener("click", (element) => {
            aumentar();
            getPublicacionPages(numero_pagina)
        });

        document.getElementById("btnAnterior").addEventListener("click", (element) => {
            disminir();
            getPublicacionPages(numero_pagina)
        });
        
        
        const aumentar = () => {
            numero_pagina = numero_pagina + 1;
            document.getElementById('numero_pagina').textContent = numero_pagina;
        }

        const disminir = () => {

            if(numero_pagina == 1){ return }
            numero_pagina = numero_pagina - 1;
            document.getElementById('numero_pagina').textContent = numero_pagina;
        }

        const getPublicacionPages = async (num_pagina) => {
            
            $contenedorComentarios.textContent = '';
            
            let comentarios = ''

            await fetch(`https://api-rest-nodejs-postgres-sql-7c527afb970b.herokuapp.com/api/publicaciones/${num_pagina}`, {
                method: 'GET',
                headers: {
                    'Content-type': 'application/json'
                }
            })
            .then(res => res.json())
            .then(publicaciones => {

                if(publicaciones.mensaje === 'UPS! no se encontraron datos por mostrar'){
                    alert(publicaciones.mensaje)
                    window.location.reload();
                }
                
                
                publicaciones.forEach(publicacion => { 
                    comentarios += `
                    <div class="comentario">
                        <img src="/img/imagen-mensaje.png" alt="Imagen_mensaje">
                        <ul class="flex-fill">
                            <li><b>Nombre:</b> ${ publicacion.nombre } </li>
                            <li><b>Apellido:</b> ${ publicacion.apellido } </li>
                            <li><b>Edad:</b> ${ publicacion.edad } </li>
                            <li><b>Comentario:</b> ${ publicacion.comentario } </li>
                        </ul>
                        <div class="d-flex flex-column">
                            <a class="btn btn-info" href="/update/${ publicacion.id }" title="En desarrollo" disabled><i class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-danger" href="/delete/${ publicacion.id }" title="En desarrollo" disabled><i class="bi bi-trash"></i></a>
                        </div>
                    </div>
                    `
                }); 
            });
            $contenedorComentarios.innerHTML = comentarios;
        }


        let $listaBotones = Array.from(document.querySelectorAll('.btn-danger'));

        console.log($listaBotones)

        $listaBotones.forEach(btn => {
            
            btn.addEventListener('click', (evt) => {
    
                let isAdmin = confirm('多Eres el administrador?');
    
                if(!isAdmin){
                    alert('De momento solo el usuario root puede eliminar registros. Gracias :)');
                    evt.preventDefault();
                } else {

                    let contrasena = prompt('Ingrese la contrase単a, por favor...');
                    
                    if(contrasena != '1001944317') {
                        alert('Contrase単a incorrecta.');
                        evt.preventDefault();
                    } else {

                        alert('Eliminando registro...');
                    }
                    
                }
    
            });
        })



    </script> 
</body>
</html>