<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/links_styles') %>
    <title>Comentarios</title>
    
</head>
<body>
    <section class="estilos-body-coments">
        <nav class="bg-dark wv-100 d-flex align-items-center justify-content-around" style="height: 70px;">
            <div>
              <a style="display: flex;" href="/"><h2><b>Aplicación &nbsp;</b></h2> <h2><b class="text-success"> Node JS</b></h2></a>
            </div>
            <div class="d-flex gap-5">
              <a class="btn-nav" style="padding: 3px 10px;" href="/"><i class="bi bi-house-door-fill"></i>Home</a>
              <a class="btn-nav" href="/create"><i class="bi bi-upload"></i>Publicar</a>
            </div>
        </nav>  
        <h1>Publicaciones Recientes</h1>
        <div class="contenedor-botones">
            <button class="btn btn-primary" name="pagina_anterior" id="btnAnterior"><i class="bi bi-skip-backward-btn-fill"></i> Anterior</button>
            <div id="numero_pagina"> 1</div>
            <button class="btn btn-success" name="pagina_siguiente" id="btnSiguiente">Siguiente<i class="bi bi-skip-forward-btn-fill" style="margin-left: 4px;"></i></button>
        </div>
        <div class="contenedor-comentarios" id="contenedor-comentarios">
            <% usuarios.forEach(usuario => { %>
                <div class="comentario">
                    <img src="/img/imagen-mensaje.png" alt="Imagen_mensaje">
                    <ul class="flex-fill">
                        <li><b>Nombre: </b><%= usuario.nombre %></li>
                        <li><b>Apellido: </b><%= usuario.apellido %></li>
                        <li><b>Edad: </b><%= usuario.edad %></li>
                        <li><b>Comentario: </b><%= usuario.comentario%></li>
                    </ul>
                    <div class="d-flex flex-column">
                        <a class="btn btn-info" href="/update/<%= usuario.id%>"><i class="bi bi-pencil-square" style="color: black;"></i></a>
                        <a class="btn btn-danger" href="/delete/<%= usuario.id%>"><i class="bi bi-trash" style="color: black;"></i></a>
                    </div>
                </div>
            <%}); %>
        </div>
    </section>
    <%- include('partials/footer') %>
    <script>
        
        let numero_pagina = 1;
        
        $contenedorComentarios = document.getElementById("contenedor-comentarios");
        
        document.getElementById('numero_pagina').textContent = numero_pagina;
        
        document.getElementById("btnSiguiente").addEventListener("click", (element) => {
            aumentar();
            getUserPages(numero_pagina)
        });

        document.getElementById("btnAnterior").addEventListener("click", (element) => {
            disminir();
            getUserPages(numero_pagina)
        });
        
        
        const aumentar = () => {
            numero_pagina = numero_pagina + 1;
            document.getElementById('numero_pagina').textContent = numero_pagina;
        }

        const disminir = () => {

            if(numero_pagina == 1){ return }
            numero_pagina = numero_pagina - 1;
            document.getElementById('numero_pagina').textContent = numero_pagina;
        }

        const getUserPages = async (num_pagina) => {
            
            $contenedorComentarios.textContent = '';
            
            let comentarios = ''

            await fetch(`https://api-rest-nodejs-postgres-sql-7c527afb970b.herokuapp.com/api/usuarios/${num_pagina}`, {
                method: 'GET',
                headers: {
                    'Content-type': 'application/json'
                }
            })
            .then(res => res.json())
            .then(usuarios => {


                usuarios.forEach(usuario => { 
                    comentarios += `
                    <div class="comentario">
                        <img src="/img/imagen-mensaje.png" alt="Imagen_mensaje">
                        <ul class="flex-fill">
                            <li><b>Nombre:</b> ${ usuario.nombre } </li>
                            <li><b>Apellido:</b> ${ usuario.apellido } </li>
                            <li><b>Edad:</b> ${ usuario.edad } </li>
                            <li><b>Comentario:</b> ${ usuario.comentario } </li>
                        </ul>
                        <div class="d-flex flex-column">
                            <a class="btn btn-info" href="/update/${ usuario.id }" title="En desarrollo" disabled><i class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-danger" href="/delete/${ usuario.id }" title="En desarrollo" disabled><i class="bi bi-trash"></i></a>
                        </div>
                    </div>
                    `
                }); 
            });
            if(comentarios == "") {
                alert("No hay mas datos por mostrar.");
                window.location.reload();
            }
            $contenedorComentarios.innerHTML = comentarios;
        }
    </script> 
</body>
</html>